<div id="hero">
<h1> Welcome to BlocklySolve! </h1>
<h2>Programming puzzles for everyone </h2>
<hr>
<div id="choice-container">
<div id="basics" class="icon">  <%=image_tag "howto.png" %><span class="caption">Learn the basics<span> </div>
<div id="beginner" class="icon"> <%=image_tag "beginner.png"%><span class="caption">Beginner challenges</span> </div>
<div id="advanced" class="icon"> <%=image_tag "advanced.png"%><span class="caption">Advanced challenges</span> </div>
</div>

</div>