<%#PROVIDE TITLE%>

<p id="coord"> coord </p>

<xml id="toolbox" style="display: none">
  <block type="controls_if"></block>
  <block type="controls_repeat_ext"></block>
  <block type="logic_compare"></block>
  <block type="math_number"></block>
  <block type="math_arithmetic"></block>
  <block type="text"></block>
  <block type="text_print"></block>
  <block type="answer"></block>
  <block type="block_8"></block>
  <block type="block_6"></block>
   <block type="get_input"></block>

</xml>


<div id="puzzle-description">
<span> Can you make the answer = 0? </span>
</div>

<div id="inputDiv">
<h2> Inputs: <span id="input-list">input</span></h2>
</div>


<%#<button onclick="showCode()">Show JavaScript</button>%>
   
   <%# <p id="output"> Current output is </p>%>


<div id="blocklyDiv"></div>
<div id="outputDiv">
 <button onclick="runCode()">Run Code!</button>
<table>
		<tr>
	<th>Input</th>
	<th>Output</th>
	</tr>
<tr>
	<td>2</td>
	<td id="output1"> </td>
	<td id="grade1"> </td>
</tr>
<tr>
	<td>3</td>
	<td id="output2"> </td>
	<td id="grade2"> </td>
</tr>
<tr>
	<td>4</td>
	<td id="output3"> </td>
	<td id="grade3"> </td>
</tr>
<tr>
	<td>5</td>
	<td id="output4"> </td>
	<td id="grade4"> </td>
</tr>
</table>
</div>




<script>
  var workspace = Blockly.inject('blocklyDiv',
      {toolbox: document.getElementById('toolbox')});

var INPUT = {
    input: 2,
    input_array: [2]
 };

   document.getElementById("input-list").innerHTML = INPUT.input; 



</script>