<% provide(:title, "How-To: 1") %>
<div id="demo-container">
<div id="inputDiv" class="demo-inputs">
	<h2 id="inputs" class="input-span">Input =</h2>
	<h2 id="output-demo"> Output =  <span id="demo-output-value">3</span></h2>

</div>
<div id="computerDiv">
	<span id="computer-title">+1 PROGRAM</span>
	<div id="computer-output"></div>
</div>

<div id="demoscreenDiv">
	<div id="winscreenHeaderContainer">
		<h1 id="winscreenHeader">Computer programs take in <span class="input-span"><span class="underline-span">in</span>puts</span>, and turn them into <span class="output-span"><span class="underline-span">out</span>puts</span>, press play to watch!</h1>
	</div>
 	<button class="demo-button play-button" onclick="hideDemoScreen()">PLAY!</button>
 	<button class="demo-button play-button button-hidden" onclick="hideDemoScreen()">Watch again</button>
 	<%=button_to "Next Lesson", page_path('howto/2'), method: :get, class: "demo-button button-hidden"%>
</div>

</div>

<script>
var INPUT = {
    input: 0, //init a current input
    input_array: [2] //list of test cases
};
var CORRECT_OUTPUT = {
 	output_array: [3], //what test case should output as
};
var OUTPUT = {
 	output_array: [3] //init an array to store code output runs
};
//set starting, non-deletable, block here.
//buildTable();
displayInputs(); //fill the input element with inputs
function demoScreen() {
	$("#demoscreenDiv").animate({"top": "+=550px" }, "slow");
};

function hideDemoScreen() {
	setUpOutput();
	$("#demoscreenDiv").animate({"top": "-=550px" }, "slow");
  	setTimeout(function(){
   		runDemoAnimation();
	}, 1500);
};

function endDemoScreen() {
  document.getElementById("winscreenHeader").innerHTML = "The program added 1 to the input!";
 	$(".play-button").hide();
 	$(".button-hidden").show();
  demoScreen();
}



function setUpOutput() {
$('#demo-output-value').css("opacity", 0);
$('#demo-output-value').css("top", 300);
}

setUpOutput();
demoScreen();

</script>