<% provide(:title, "How-To: 1") %>


<div id="inputDiv" class="demo-inputs">
<h2 id="inputs"> Inputs: </h2>
</div>

<div id="computerDiv"><span>COMPUTER</span></div>
<div id="outputDiv">
<table id="output-table">
		<tr>
	<th>Input</th>
	<th>Output</th>
	<th id="correct-th">Correct?</th>
	</tr>
</table>
</div>

<script>


var INPUT = {
    input: 0, //init a current input
    input_array: [2, 3, 4] //list of test cases
 };
	var CORRECT_OUTPUT = {
 	output_array: [3, 4, 5], //what test case should output as
 
 }

 var OUTPUT = {
 	output_array: [] //init an array to store code output runs
 }

//set starting, non-deletable, block here.

buildTable();
displayInputs(); //fill the input element with inputs


</script>