<%#PROVIDE TITLE%>



<xml id="toolbox" style="display: none">
  <block type="math_arithmetic"></block>
	<block type="answer"></block>
  <block type="block_8"></block>
  <block type="block_6"></block>
   <block type="get_input"></block>

</xml>


<div id="puzzle-description">
<span> Can you add six to every input?</span>
</div>

<div id="inputDiv">
<h2 id="inputs"> Inputs: </h2>
</div>


<%#<button onclick="showCode()">Show JavaScript</button>%>
   
   <%# <p id="output"> Current output is </p>%>


<div id="blocklyDiv"></div>
<div id="outputDiv">
 <button onclick="runCode()">Run Code!</button>

 <%#this all can be partial %>
<table id="output-table">
		<tr>
	<th>Input</th>
	<th>Output</th>
	<th id="correct-th">Correct?</th>
	</tr>
</table>
</div>

<div id="winscreenDiv">

<div id="winscreenHeaderContainer"><h1 id="winscreenHeader">Puzzle Solved!<h1></div>
<div id="winscreenStayContainer"><div id="winscreenStay">Stay on this puzzle</div></div>
<div id="winscreenNextContainer"><div id="winscreenNext">Next Puzzle</div></div>


</div>




<script>
  var workspace = Blockly.inject('blocklyDiv',
      {toolbox: document.getElementById('toolbox')});

var INPUT = {
    input: 0, //init a current input
    input_array: [2, 3, 4] //list of test cases
 };
	var CORRECT_OUTPUT = {
 	output_array: [8, 9, 10], //what test case should output as
 
 }

 var OUTPUT = {
 	output_array: [] //init an array to store code output runs
 }

buildTable();
displayInputs(); //fill the input element with inputs


</script>