<%#PROVIDE TITLE%>
<%provide(:title, "How-To: Puzzle 2") %>
<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
  <block type="get_input"></block>
  <block type="math_arithmetic">
    <field name="OP">ADD</field>
    <value name="A">
      <shadow type="math_number">
        <field name="NUM">1</field>
      </shadow>
    </value>
    <value name="B">
      <shadow type="math_number">
        <field name="NUM">1</field>
      </shadow>
    </value>
  </block>
  <block type="block_1"></block>
</xml>

<xml xmlns="http://www.w3.org/1999/xhtml" id="workspaceBlocks" style="display:none">
  <block type="output" id="U^JuZeB9v[H=c3S-ci26" x="153" y="88">
    <value name="output">
      <block type="math_arithmetic" id="^pJBW[C(Gt1}[j1L|xJB">
        <field name="OP">ADD</field>
        <value name="A">
          <block type="get_input" id="y-tklsv6sfq3tSn2WUzn"></block>
        </value>
        <value name="B">
          <shadow type="math_number" id="leB2cG.-[Yvh_z0P0{Zh">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
    </value>
  </block>
</xml>



<div id="puzzle-description">
  <span class="problem-span">Problem </span>
  <span id="desc-span"> Write a program that adds 1 to the input.</span>
</div>

<div id="inputDiv">
  <div id="inputBorderDiv">
    <h2 id="inputs"> Input: </h2>
  </div>
</div>

<div id="blocklyArea">
  <div id="blocklyDiv" style="position: absolute"></div>
</div>

<div id="outputDiv">
  <button id="run-code-button" onclick="">Run Code!</button>
  <table id="output-table">
   <tr>
     <th>Input</th>
     <th>Output</th>
     <th id="correct-th">Correct?</th>
    </tr>
  </table>
</div>

<div id="demoscreenDiv" class="dropScreen">
  <div id="winscreenHeaderContainer">
    <h1 id="winscreenHeader">You beat LearnWithBlockly puzzles by using code. This puzzle is already solved, take a look at it, then press Run Code to see it in action! </h1>
  </div>
  <button class="demo-button play-button" onclick="hideDemoScreen()">Take a look!</button>
  <button class="demo-button play-button button-hidden" onclick="hideDemoScreen()">Watch again</button>
  <%=button_to "Next Lesson", page_path('howto/2'), method: :get, class: "demo-button button-hidden"%>
</div>

<div id="winscreenDiv">
  <div id="winscreenHeaderContainer">
    <h1 id="winscreenHeader">In the next lesson you will solve a puzzle on your own! </h1>
  </div>

  <button class="demo-button play-button" onclick="hideWinScreen()">Watch again</button>
  <%=button_to "Next Lesson", page_path('howto/3'), method: :get, class: "demo-button"%>
</div>




<script>
var options = { 
  toolbox: document.getElementById('toolbox'),
 collapse : false, 
  comments : false, 
  css : true, 
  disable : false, 
  maxBlocks : Infinity, 
  media : 'https://blockly-demo.appspot.com/static/media/', 
  readOnly : true, 
  rtl : false, 
  scrollbars : false, 
  sounds : false,
  zoom: {startScale: 2}
};

var blocklyArea = document.getElementById('blocklyArea');
var blocklyDiv = document.getElementById('blocklyDiv');
var workspace = Blockly.inject(blocklyDiv,
  options);
var onresize = function(e) {
// Compute the absolute coordinates and dimensions of blocklyArea.
var element = blocklyArea;
var x = 0;
var y = 0;
do {
  x += element.offsetLeft;
  y += element.offsetTop;
  element = element.offsetParent;
} while (element);
  // Position blocklyDiv over blocklyArea.
  blocklyDiv.style.left = x + 'px';
  blocklyDiv.style.top = y + 'px';
  blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
  blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
};
window.addEventListener('resize', onresize, false);
onresize();
Blockly.svgResize(workspace);

var INPUT = {
  input: 0, //init a current input
  input_array: [1] //list of test cases
};
var CORRECT_OUTPUT = {
  output_array: [2], //what test case should output as
};
var OUTPUT = {
  output_array: [] //init an array to store code output runs
};
//set starting, non-deletable, block here.
var defaultXml =
      '<xml>' +
      '  <block type="output" deletable="false" x="350" y="35">' +
      '  </block>' +
     /* '  <block type="get_input" deletable="false" x="35" y="80">' +
      '  </block>' +*/
      '</xml>';


var xml = document.getElementById("workspaceBlocks"); 
//Blockly.Xml.textToDom(defaultXml);
Blockly.Xml.domToWorkspace(workspace, workspaceBlocks);


demoScreen();
buildTable();
displayInputs(); //fill the input element with inputs

</script>